.vs/
Veículos.csproj.CoreCompileInputs.cache
MAF GR Locadora Veículos/obj/Debug/ Veículos.csprojAssemblyReference.cache
MAF GR Locadora Veículos/bin/Debug/MAF GR Locadora Veículos.exe
MAF GR Locadora Veículos/bin/Debug/MAF GR Locadora Veículos.exe
MAF GR Locadora Veículos/bin/Debug/MAF GR Locadora Veículos.pdb
