
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/db.lock
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csprojAssemblyReference.cache
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csprojAssemblyReference.cache
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csproj.CoreCompileInputs.cache
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-shm
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csproj.CoreCompileInputs.cache
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-shm
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csproj.CoreCompileInputs.cache
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csprojAssemblyReference.cache
