
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/db.lock
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
.vs/MAF GR Locadora Veículos/v15/.suo
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-shm
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csproj.CoreCompileInputs.cache
MAF GR Locadora Veículos/obj/Debug/MAF GR Locadora Veículos.csprojAssemblyReference.cache
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
MAF GR Locadora Veículos/bin/Debug/MAF GR Locadora Veículos.exe
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
MAF GR Locadora Veículos/bin/Debug/MAF GR Locadora Veículos.pdb
MAF GR Locadora Veículos/MAF GR Locadora Veículos.csproj
*.ide-wal
.vs/MAF GR Locadora Veículos/v15/Server/sqlite3/storage.ide-wal
